body {
background-image:url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}

#container {
 margin-top:20%;
 margin-left: -480px;
 margin-right: -240px;
 margin-bottom:5%;
 max-width: 960px;
 position: absolute;
 left:50%;
 right:50%;
 width:960px;
 height: 480px;
}

#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin:0px;
 width:100%;
 background-color:lightyellow;
 text-align:center; 
 z-index:10;
 font-family: 'JustLettersMedium'; 
 font-weight: normal; 
 font-style: normal; 
 font-size:36px;
}


.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
}

.pink{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:pink;
 float:left;
}
 
.black{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:#787878;
 float:left;
}

p {
  font-family: 'JustLettersMedium';
  font-weight: normal;
  font-style: normal;
}


img {
 margin-left: 5px;
 margin-top:10px;
 }

#clear{
  clear:both; 
  height: 0;
} 

header{
 margin-bottom: 15px;
 text-align: centered;
 background-color: blue;
 width: 100%;
}

#footer {
    border: solid 1px;
            padding: 10px;
            margin: 10px 0 0 0; /* corrected margin */
            background-color: blue;
            width: 100%;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            box-sizing: border-box;
}
